html{
    font-size: 1rem;
}
:root{
    /* --floor_height:25vh;          
    --floor_width:60vw; */
    --floor_height:180px;          
    --floor_width:70%;
}
body{
    background-color: #FDF4DC;
}
h1{
    text-align: center;
}
.input_data{
    text-align: center;
}

.floor{
    position: fixed;
    height: var(--floor_height);
    width: var(--floor_width);
    background-color: aqua;
    bottom: 5%;
    left: 10%;
    border-radius: 2vw;
}
/* button */
#up{
    position: relative;
    top:40px;
    left: 30px;
}
#down{
    position: relative;
    left: -15px;
    top: 90px;
}
/* lift part */
.lift{
    position: relative;
    border: solid 0.14em;
    height: 8.7em;
    width: 5em;
    background-color: whitesmoke;
    z-index: 0;
    top: -10px;
    left: 100px;
}
.lift_right_door{
    position: relative;
    border: solid 0.1em;
    height: 8.6em;
    width: 2.5em;
    background-color: #d3d3d3;
    z-index: 1;
    /* animation: right_door 2.5s infinite ; */
}
.lift_left_door{
    position: relative;
    border: solid 0.1em;
    height: 8.6em;
    width: 2.5em;
    left: 38px;
    bottom: 140px;
    background-color: #d3d3d3;
    z-index: 1;
    /* animation: left_door 2.5s infinite ; */
    

}
/* .lift_left_door , .lift_right_door{
    animation: left_door .5s , right_door .5s infinite;

} */

@keyframes right_door {
    100%{
        width: 0px;
    }
}
@keyframes left_door {
    0%{ width: 0px;}
}